name: 构建hubdocker镜像
on:
  watch:
    types: started
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-22.04  
    steps:
    - uses: actions/checkout@v4
    - name: Install build dependencies
      run: |
        sudo apt-get -y update
    - name: login docker
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        export DOCKER_CLI_EXPERIMENTAL=enabled
        docker buildx version
        #docker run --privileged --rm docker/binfmt:a7996909642ee92942dcd6cff44b9b95f08dad64
        docker buildx create --use --name mybuilder
        docker buildx inspect mybuilder --bootstrap
        #docker buildx ls
    - name: docker drpys
      run: |
        cd ./drpys
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/drpys --platform linux/arm64,linux/amd64 . --push
    - name: docker openlist
      run: |
        cd ./openlist
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/openlist --platform linux/arm64,linux/amd64 . --push
    - name: docker moekoe-music
      run: |
        cd ./MoeKoeMusic
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/moekoe-music --platform linux/arm64,linux/amd64 . --push
    - name: docker adguardhome
      run: |
        cd ./AdGuardHome
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/adguardhome --platform linux/arm64,linux/amd64 . --push
    - name: docker test
      run: |
        cd ./test
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/test --platform linux/arm64,linux/amd64 . --push
    - name: docker smartdns
      run: |
        cd ./smartdns
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/smartdns --platform linux/arm64,linux/amd64 . --push
    - name: docker mihomo
      run: |
        cd ./mihomo
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/mihomo --platform linux/arm64,linux/amd64 . --push
    - name: docker v2raya
      run: |
        cd ./v2raya
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/v2raya --platform linux/arm64,linux/amd64 . --push
    - name: docker blocky
      run: |
        cd ./blocky
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/blocky --platform linux/arm64,linux/amd64 . --push
    - name: docker cdns
      run: |
        cd ./cdns
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/cdns --platform linux/arm64,linux/amd64 . --push
    - name: docker technitium
      run: |
        cd ./technitium
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/dns-server --platform linux/arm64,linux/amd64 . --push
    - name: docker v2p
      run: |
        cd ./v2p
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/elecv2p --platform=linux/arm64,linux/amd64 . --push
    - name: docker xray
      run: |
        cd ./xray
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/xray --platform linux/arm64,linux/amd64 . --push
    - name: docker singbox
      run: |
        cd ./singbox
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/singbox --platform linux/arm64,linux/amd64 . --push
    - name: docker mosdns
      run: |
        cd ./mosdns
        docker buildx build -t ${{ secrets.DOCKER_USERNAME }}/mosdns --platform linux/arm64,linux/amd64 . --push
